@model Assignment1.Models.Incidents
@{
    string title = ViewBag.Action + " Incidents";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form method="post">
    <!--This line for validation after put [required] in Category controller-->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-8">
            @if (ViewBag.Action == "Edit")
            {
                <input type="hidden" asp-for="IncidentsId" />
            }
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CustomersId">Customer</label>
                </div>
                <div class="col-8">
                    <select asp-for="CustomersId" class="form-control"
                            asp-items="@(new SelectList(ViewBag.Customers, "CustomersId", "FullName"))">
                        <option value="">select a customer</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductsId">Products</label>
                </div>
                <div class="col-8">
                    <select asp-for="ProductsId" class="form-control"
                            asp-items="@(new SelectList(ViewBag.Products, "ProductsId", "PName"))">
                        <option value="">select a product</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IncidentsId">Title</label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Title" class="form-control" />
                    <!--Check validation here from model-->
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IncidentsId">Description</label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Description" class="form-control" />
                    <!--Check validation here from model-->
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TechniciansId">Technician</label>
                </div>
                <div class="col-8">
                    <select asp-for="TechniciansId" class="form-control"
                            asp-items="@(new SelectList(ViewBag.Technicians, "TechniciansId", "TName"))">
                        <option value="">select a technician</option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="DateAdded">Day Open</label>

                </div>
                <div class="col-8">
                    <input type="text" asp-for="DateAdded" class="form-control" />
                    <span asp-validation-for="DateAdded" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="DateClosed">Day Close</label>

                </div>
                <div class="col-8">
                    <input type="text" asp-for="DateClosed" class="form-control" />
                    <span asp-validation-for="DateClosed" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4 row">
                    <table class="col-8 offset-4 row">
                        <tr class=" col">

                            <td> <input type="submit" class="btn btn-outline-info w=140 text-right" value="Save" /></td>
                            <td><a asp-action="Index" class="btn btn-outline-success w=140 text-right"> Cancel</a></td>

                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>
</form>
