@model Assignment1.Models.Products
<br />

@section header{
    <form method="post">
        <input asp-for="ProductsId" type="hidden" />
        <div>

            <div class="form-group row">
                <h2 class="text-info pl-03"> Delete Product</h2>

            </div>
            <p class="text-danger">Do you really want to delete: </p>
            <div class="row">
                <div class="col-8">

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Code">Code</label>
                        </div>
                        <div class="col-8">
                            <input type="text" asp-for="Code" class="form-control" readonly />
                            <!--Check validation here from model-->
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="PName">Name</label>

                        </div>
                        <div class="col-8">
                            <!-- using asp-for to post value to database, other pasge...-->
                            <input type="text" asp-for="PName" class="form-control" readonly />
                            <!--Check validation here from model-->
                            <span asp-validation-for="PName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Price">Price</label>

                        </div>
                        <div class="col-8">
                            <!-- using asp-for to post value to database, other pasge...-->
                            <input type="text" asp-for="Price" class="form-control" readonly />
                            <!--Check validation here from model-->
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Rdate">Release Date</label>

                        </div>
                        <div class="col-8">
                            <!-- using asp-for to post value to database, other pasge...-->
                            <input type="text" asp-for="Rdate" class="form-control" readonly />
                            <!--Check validation here from model-->
                            <span asp-validation-for="Rdate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-8 offset-4 row">
                            <table class="col-8 offset-4 row">
                                <tr class=" col">

                                    <td> <input type="submit" class="btn btn-outline-danger w=100 text-right" value="Delete" /></td>
                                    <td><a asp-action="Index" class="btn btn-outline-success w=140 text-right"> Cancel</a></td>

                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>

}