@{
    ViewData["Title"] = "About";
}

@section header{
    <div class="customer-container p-3">
        <div class="box About">
            <span></span>
            <div class="content">
                <h2>About</h2>
                <h3>SportPro Technical Support constantly strivies to provide the highest level of technical support for all products in the SportsPro family</h3>

            </div>
        </div>
    </div>

}
